[core]
  # Excludesfiles allows us to set a global list of things to ignore
  excludesfile = ~/.gitignore_global
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX

# These are custom color options for the console
[color]
  status = auto
  diff = auto
  ui = true

[color "status"]
  untracked = cyan bold
  changed = green bold
  added = yellow bold

# Aliases are command shortcuts
[alias]
  co = checkout
  br = branch
  d = diff
  pick = cherry-pick
  re = remote -v
  ci = commit --verbose
  s = status --short
  psm = push origin master
  plm = pull origin master
  ass = "!git add . ; git s"
  rr = "!git ls-files -dz | xargs -0 git rm"
  logo = log --oneline
  logout = "!open https://help.github.com/articles/updating-credentials-from-the-osx-keychain/"
  compare = "!f() { [[ ! $# -eq 1 ]] && echo provide 1 branch name to compare against working branch || git rev-list --left-right --count $1...@; }; f"
  root = "!git rev-parse --show-toplevel"

  # lg is now a shortcut for a pretty log with short commit messages
  # See the log manpage: https://www.kernel.org/pub/software/scm/git/docs/git-log.html
  lg = log \
    --graph \
    --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' \
    --abbrev-commit \
    --date=relative

  # Edit the last commit
  amend= commit --verbose --amend


[user]
  name = Andy Carlson
  email = 2yinyang2@gmail.com


[credential]
  helper = store

[merge]
  tool = vimdiff

[rebase]
  instructionFormat = ">%h (%an <%ae>) %s"
[mergetool "nbdime"]
  cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
  prompt = false
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
