@define-color magenta #bd5eff;
@define-color lavender #d08fff;

@define-color selected_bg_color @magenta;
@define-color theme_selected_bg_color @magenta;

@define-color shadow alpha(@lavender, 0.25);

* {
    font-family: "Inconsolata Nerd Font";
}

window, dialog {
    background-color: rgba(0, 0, 0, 0.25);
}

.view {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.25);
}

toolbar,
headerbar,
menubar,
.toolbar,
.path-bar,
.titlebar {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: none;
}

toolitem, entry {
    background-color: rgba(40, 40, 40, 0.3);
}

infobar > revealer > box {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    background-color: rgba(40, 40, 40, 0.5);
    background-image: none;
}

button:hover {
    background-color: @magenta;
    background-image: none;
}

button:hover label {
    color: #000;
}

button:hover image {
    color: #000;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
}

button label:disabled {
    color: rgba(255, 255, 255, 0.3);
}

button.suggested-action {
    border-color: @magenta;
}

button.suggested-action:disabled {
    border-color: rgb(27, 27, 27);
}

toolitem, entry:focus {
    box-shadow: 0px 0px 6px 3px @shadow inset;
}

list {
    background-color: rgba(0, 0, 0, 0.15);
}

menu,
menu menuitem {
    background-color: rgba(0, 0, 0, 0.75);
    color: #e0e0e0;
}

menu menuitem:hover,
menu menuitem:focus,
menu menuitem:selected {
    background-color: @magenta;
    color: #000000;
}

menu menuitem:disabled {
    color: rgba(255, 255, 255, 0.3);
}

.sidebar row:selected,
.sidebar row:active {
    background-color: @magenta;
    color: #000000;
}

.view:selected,
.view row:selected,
iconview:selected {
    background-color: @magenta;
    color: #000000;
}

notebook header {
    background-color: rgba(0, 0, 0, 0.25)
}

notebook header tab:hover {
    background-color: @magenta;
}

notebook header tab:hover label {
    color: #000000;
}

notebook stack {
    background-color: rgba(0, 0, 0, 0.35)
}

check:checked {
    background-color: @magenta;
    background-image: none;
    /* border-color: TODO; */
}

switch {
    border-radius: 12px;
    background: none;
    box-shadow: 0px 0px 6px 3px alpha(#d08fff, 0.25) inset;
    border: none;
}

switch:checked {
    background: alpha(@magenta, 0.2);
}

switch slider {
    border-radius: 12px;
    background: #333;
    min-width: 16px;
    min-height: 16px;
}

switch:checked slider {
    background: #333;
}
