@define-color selected_bg_color #bd5eff;
@define-color theme_selected_bg_color #bd5eff;

* {
    font-family: "Inconsolata Nerd Font";
}

window,
notebook,
notebook > stack,
paned,
infobar box,
.content-view,
.view {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
}

.sidebar,
.sidebar .view,
.sidebar row {
    background-color: rgba(0, 0, 0, 0.25);
}

toolbar,
headerbar,
menubar,
.path-bar,
.toolbar {
    background-color: rgba(0, 0, 0, 0.25);
}

toolitem, entry {
    background-color: rgba(40, 40, 40, 0.3);
}

menu,
menu menuitem {
    background-color: rgba(0, 0, 0, 0.75);
    color: #e0e0e0;
}

menu menuitem:hover,
menu menuitem:focus,
menu menuitem:selected {
    background-color: #bd5eff;
    color: #000000;
}

menu menuitem:disabled {
    color: rgba(255, 255, 255, 0.3);
}

.sidebar row:selected,
.sidebar row:active {
    background-color: #bd5eff;
    color: #000000;
}

.view:selected,
.view row:selected,
iconview:selected {
    background-color: #bd5eff;
    color: #000000;
}

switch {
    border-radius: 12px;
    background: none;
    box-shadow: 0px 0px 6px 3px alpha(#d08fff, 0.25) inset;
    border: none;
}

switch:checked {
    background: alpha(#bd5eff, 0.2);
}

switch slider {
    border-radius: 12px;
    background: #333;
    min-width: 16px;
    min-height: 16px;
}

switch:checked slider {
    background: #333;
}
